<% if(redirect){ %>
	<!DOCTYPE HTML>
	<html lang="en-US">
		<head>
			<meta charset="UTF-8">
			<meta name="robots" content="noindex, nofollow">
			<meta http-equiv="refresh" content="2;url=<%= url %>">
			<script type="text/javascript">
				setTimeout(() => {window.location.href = "/"}, 1500);
			</script>
		</head>
		<body>
			<h2 style="color: red;">Credenziali errate</h2>
			If you are not redirected automatically, <a href="<%= url %>">click here</a>.
		</body>
	</html>
<% }
	else{ %>
	<%- include("header") %>
		<script>
			addEventListener("load", function(){
				loadDoc(2);
			});
		</script>
		<main>
			<form method="POST"><input type="submit" name="logout" value="Logout"></form>
			Ciao <%= nome %> <%= cognome %>.<br><br>
			<h4><%  if(typeof msg !== "undefined") msg %></h4>
			<h3>Gestione immobili</h3>
			<h4>Aggiungi immobile</h4>
			<form method="POST" action="/areaRiservata" enctype="multipart/form-data">
				<input type="text" name="nome" placeholder="Titolo">
				<input type="text" name="desc" placeholder="Descrizione">
				<input type="number" min="0" step="1" name="prezzo" placeholder="Prezzo">
				<select name="tipo">
					<option value="0">Villa</option>
					<option value="1">Appartamento</option>
					<option value="2">Terreno</option>
					<option value="3">Capannone</option>
				</select>
				<select name="citta">
					<option value="45.46,9.19">Milano</option>
					<option value="44.88,11.99">Torino</option>
					<option value="44.90,8.61">Alessandria</option>
				</select>
				<input type="text" name="nomeCitta" placeholder="Nome della citta'">
				<label for="image">Upload Image</label>
                <input type="file" id="image" name="image">
				<input type="submit" name="add" value="Aggiungi">
			</form>
			
			<h4>Elimina immobile</h4>
			<div id="dati">
				
			</div>
		</main>
	</body>
	</html>

<% } %>
